body {
    background-color: #292929;
    color: #424242;
}

h1 {
    text-align: center;
}

table {
    width: 300px; /* Ширина таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
    background-color: #FDFADD;
    margin-top: 10%;
    border-radius: 10px;
    border: 0;
}

td {
    text-align: center;
    border: 0;
}


input {
    border: 1px;
    border-style: solid;
    border-color:gray;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
}

    input :hover {
        border: 3px;
        border-color: black;
    }

button {
    background-color: #E32636;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px;
    font-size: 16px;
    color: white;
}

    button:hover {
        cursor: pointer;
        background-color: #FF4B3D;
    }

.cellss {
    left: 50%;
}
